swin-transformer-ocr/datasets_no_test
swin-transformer-ocr/datasets_no_test.7z

swin-transformer-ocr/checkpoints/*
!swin-transformer-ocr/checkpoints/.gitkeep

swin-transformer-ocr/weights/*
!swin-transformer-ocr/weights/.gitkeep

swin-transformer-ocr/dataset/images/
swin-transformer-ocr/dataset/images.zip
swin-transformer-ocr/dataset/resized_images
swin-transformer-ocr/dataset/train.txt
swin-transformer-ocr/dataset/val.txt

swin-transformer-ocr/tb_logs
swin-transformer-ocr/__pycache__
.idea

test.py

swin-transformer-ocr/dataset/zimages/
swin-transformer-ocr/dataset/ztrain.txt
swin-transformer-ocr/dataset/zval.txt
swin-transformer-ocr/dataset/dataset1/
swin-transformer-ocr/dataset/dataset2/
swin-transformer-ocr/logging/*
!swin-transformer-ocr/logging/spilt_txt.py