swin-transformer-ocr/datasets_no_test

swin-transformer-ocr/checkpoints/*
!swin-transformer-ocr/checkpoints/.gitkeep

swin-transformer-ocr/weights/*
!swin-transformer-ocr/weights/.gitkeep

swin-transformer-ocr/dataset/images/
swin-transformer-ocr/dataset/images.zip
swin-transformer-ocr/dataset/train.txt
swin-transformer-ocr/dataset/val.txt

swin-transformer-ocr/tb_logs
swin-transformer-ocr/__pycache__
.idea
